.dashboard-container{
    display:flex;
    gap:20px;
    padding:20px;
    margin-top:90px;
    align-items:flex-start;
    background:#f3f4f6;
}
/* LEFT */
.available-section{
    flex:2;
    background:white;
    padding:20px;
    border-radius:16px;
    box-shadow:
    0 2px 10px rgba(0,0,0,0.08);
}
/* RIGHT */
.team-section{
    flex:1;
    background:white;
    padding:20px;
    border-radius:16px;
    position:sticky;
    top:90px;
    box-shadow:
    0 2px 10px rgba(0,0,0,0.08);
}
/* TITLES */
.section-title{
    margin-bottom:20px;
    color:#111827;
}
.role-title{
    margin:25px 0 15px;
    color:#dc2626;
}
/* GRID */
.player-grid,
.team-grid{
    display:flex;
    flex-wrap:wrap;
    gap:18px;
}
/* CARD */
.player-card,
.team-card{
    width:200px;
    min-height:250px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background:white;
    border-radius:18px;
    overflow:hidden;
    border:1px solid #e5e7eb;
    box-shadow:
    0 4px 10px rgba(0,0,0,0.08);
    transition:0.3s;
}
.player-card:hover,
.team-card:hover{
    transform:translateY(-5px);
    box-shadow:
    0 8px 20px rgba(0,0,0,0.12);
}
/* ICON */
.player-icon{
    height:80px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#111827;
    color:white;
    font-size:75px;
}
/* ALL ROUNDER */
.all-rounder-icon{
    display:flex;
    gap:12px;
    align-items:center;
    justify-content:center;
    font-size:50px;
}
/* INFO */
.player-info{
    padding:15px;
    flex:1;
}
.player-info h4{
    font-size:18px;
    margin-bottom:6px;
    color:#111827;
}
.player-info p{
    margin:4px 0;
    color:#6b7280;
    font-size:15px;
}
/* PRICE */
.price{
    font-size:16px;
    font-weight:bold;
    color:#dc2626;
}
/* BUTTON */
.player-card button,
.team-card button{
    width:100%;
    padding:14px;
    border:none;
    background:#ef2323;
    color:white;
    font-size:15px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}
.player-card button:hover,
.team-card button:hover{
    background:#d91c1c;
}
/* EMPTY */
.empty-team{
    color:#6b7280;
    font-size:15px;
}
.selected-player{
    opacity:0.5;
    filter:blur(1px);
    pointer-events:none;
    transform:none !important;
}
.selected-player button{
    background:#6b7280;
}
.sold-player{
    opacity:0.6;
    filter:grayscale(100%);
}

.sold-player button{
    background:#6b7280;
    cursor:not-allowed;
}

.sold-team{
    margin-top:6px;
    font-size:11px;
    font-weight:bold;
    color:#ef2323;
    text-align:center;
}

.sold-team span{
    display:block;
    margin-top:2px;
    color:#111827;
}