*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f7fb;
}

.home{
    width:100%;
}

/* HERO */

.hero{
    min-height:91vh;
    background:
    linear-gradient(
        rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)
    ),
    url('https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?q=80&w=2070');
    background-size:cover;
    background-position:center;
    color:white;
}

.overlay{
    min-height:91vh;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 60px;
    width:100%;
}

.logo{
    font-size:38px;
    font-weight:800;
    color:#ffd700;
}

.logo span{
    color:white;
    font-size:24px;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:20px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:600;
    font-size:20px;
    display:flex;
    align-items:center;
}

.register-btn{
    background:#ff1e1e;
    padding:12px 22px;
    border-radius:8px;
}

/* HERO CONTENT */

.hero-content{
    max-width:850px;
    margin:auto;
    text-align:center;
    padding-top:140px;
}

.hero-content h2{
    font-size:70px;
    line-height:1.2;
    margin-bottom:25px;
}

.hero-content p{
    font-size:22px;
    line-height:1.7;
    color:#ddd;
    margin-bottom:40px;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
}

.primary-btn,
.secondary-btn,
.cta-btn{
    text-decoration:none;
    padding:16px 34px;
    border-radius:10px;
    font-size:18px;
    font-weight:700;
    transition:0.3s;
}

.primary-btn{
    background:#ff1e1e;
    color:white;
}

.secondary-btn{
    background:white;
    color:#111827;
}

.primary-btn:hover,
.secondary-btn:hover,
.cta-btn:hover{
    transform:translateY(-3px);
}

/* COMMON */

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

section{
    padding:8px 0;
}

section h2{
    text-align:center;
    font-size:42px;
    margin-bottom:25px;
    color:#ff1e1e;
}
section.Toastify {
    display: none;
    padding: 0;
}
p strong {
    padding: 0 10px;
}
/* RESPONSIVE */

@media(max-width:768px){
    .navbar{
        flex-direction:column;
        gap:20px;
        padding:25px;
    }
    .hero-content{
        padding:120px 20px;
    }
    .hero-content h2{
        font-size:42px;
    }
    .hero-content p{
        font-size:18px;
    }
    .hero-buttons{
        flex-direction:column;
        align-items:center;
    }
    section h2{
        font-size:34px;
    }
}