*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}
body{
  background:#f3f4f6;
}
a{
  text-decoration:none;
}
button{
  cursor:pointer;
}
.Toastify__toast-container{

  z-index:999999 !important;
}

.Toastify__toast{

  font-size:16px;
}