*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#111;
  color:white;
}

.header{
  background:#e50914;
  padding:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.container{
  width:400px;
  margin:50px auto;
  background:#1c1c1c;
  padding:30px;
  border-radius:10px;
}

input{
  width:100%;
  padding:12px;
  margin-top:15px;
  background:#2b2b2b;
  border:none;
  color:white;
}

button{
  width:100%;
  padding:12px;
  margin-top:15px;
  background:#e50914;
  border:none;
  color:white;
  cursor:pointer;
}

.players-grid{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:20px;
}

.card{
  background:#1c1c1c;
  border-radius:10px;
  overflow:hidden;
}

.card img{
  width:100%;
  height:250px;
  object-fit:cover;
}

.card-body{
  padding:20px;
}

.loader-container{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.loader{
  width:70px;
  height:70px;
  border:8px solid #333;
  border-top:8px solid #e50914;
  border-radius:50%;
  animation:spin 1s linear infinite;
}

@keyframes spin{

  100%{
    transform:rotate(360deg);
  }
}

.not-found{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.error{
  color:red;
  margin-top:5px;
  font-size:14px;
}


/* dash */
.dashboard-container{

  display:flex;

  gap:20px;

  padding:20px;

  background:#f3f4f6;

  align-items:flex-start;
}

/* LEFT SIDE */

.available-section{

  flex:1;

  background:white;

  padding:20px;

  border-radius:12px;

  box-shadow:
  0 2px 10px rgba(0,0,0,0.1);
}

/* RIGHT SIDE */

.team-section{

  flex:1;

  background:white;

  padding:20px;

  border-radius:12px;

  position:sticky;

  top:20px;

  height:fit-content;

  box-shadow:
  0 2px 10px rgba(0,0,0,0.1);
}

/* ROLE TITLE */

.role-title{

  margin-top:25px;

  margin-bottom:15px;

  color:#dc2626;
}

/* GRID */

.player-grid,
.team-grid{

  display:flex;

  flex-wrap:wrap;

  gap:15px;
}

/* CARD */

.player-card,
.team-card{

  width:140px;

  background:white;

  border-radius:14px;

  overflow:hidden;

  border:1px solid #e5e7eb;

  box-shadow:
  0 4px 12px rgba(0,0,0,0.08);

  /* transition:0.3s; */
}

.player-card:hover,
.team-card:hover{

  transform:translateY(-5px);

  box-shadow:
  0 8px 20px rgba(0,0,0,0.15);
}

/* IMAGE */

.player-card img,
.team-card img{

  width:100%;

  height:180px;

  object-fit:cover;
}

/* PLAYER INFO */

.player-info{

  padding:10px;
}

.player-info h4{

  font-size:15px;

  margin-bottom:6px;

  color:#111827;
}

.player-info p{

  margin:4px 0;

  color:#6b7280;

  font-size:12px;
}

/* PRICE */

.price{

  font-weight:bold;

  color:#dc2626;

  margin-top:5px;
}

/* BUTTON */

.player-card button,
.team-card button{

  width:100%;

  padding:12px;

  border:none;

  background:#dc2626;

  color:white;

  font-weight:bold;

  cursor:pointer;

  /* transition:0.3s; */
}

.player-card button:hover,
.team-card button:hover{

  background:#b91c1c;
}

/* Fixed header  */

.header{

  position:fixed;

  top:0;

  left:0;

  width:100%;

  height:70px;

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:0 30px;

  background:#111827;

  color:white;

  z-index:1000;

  box-shadow:
  0 2px 10px rgba(0,0,0,0.2);
}

.logo{

  font-size:28px;

  font-weight:bold;

  color:#facc15;
}

.nav-links{

  display:flex;

  gap:20px;
}

.nav-links a{

  color:white;

  text-decoration:none;

  font-weight:500;
}

.nav-links a:hover{

  color:#facc15;
}

.budget-box{

  background:#dc2626;

  padding:10px 18px;

  border-radius:8px;

  font-weight:bold;
}

.user-section{

  display:flex;

  align-items:center;

  gap:15px;
}

.user-section span{

  font-weight:bold;
}

.user-section button{

  padding:8px 14px;

  border:none;

  border-radius:6px;

  cursor:pointer;

  font-weight:bold;

  background:white;

  color:#111827;
}